@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-track-color: none;
  --scrollbar-thumb-color: #888;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  @apply w-2;
}

*::-webkit-scrollbar-track {
  @apply bg-none;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-gray-200 hover:w-2 hover:bg-gray-300;
}
